.action {
    margin-top: 3px;
    margin-left: 5px;
    font-size: x-large;
    height: 100%;
    padding: 0 6px 0 6px;
    border-radius: 50%;
    border: 3px solid transparent;
}

.accept {
    composes: action;
    color: green;
    background-color: #8cd199;
}

.decline {
    composes: action;
    color: red;
    background-color: #d1a49b;
}

.accept:hover {
    transform: scale(1.05);
    border: 3px solid green;
}

.decline:hover {
    transform: scale(1.05);
    border: 3px solid #d1342e;
}


.username {
    font-size: x-large;
}

.infoText {
    display: block;
    width: 100%;
    color: #33d160;
    font-size: x-small;
}

.accDecContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}