.color {
    color: #eeeeee;
}

.brand {
    composes: color;
    font-size: x-large;
}

.brandIcon {
    font-size: xx-large;
    margin-left: 10px;
}

.brandName {
    margin-left: 5px;
    font-size: x-large;
    font-weight: 700;
}

.navItemName {
    composes: color;
    margin-left: 5px;
    font-size: large;
}

.navbar {
    background-color: #00adb5!important;
    border-bottom: 1px solid rgba(255,255,255, 0.3);
}

.signOut {
    composes: color;
    font-size: x-large;
    margin-right: 20px;
}

.signOut:hover {
    color: red;
    cursor: pointer;
}

.signOutText {
    margin-right: 10px;
}