.error {
    margin-top: 8px;
    color: red;
}

.buttonContainer {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.input {
    display: block;
}

.inputLabel {
    font-weight: bold;
    display: block;
}

.homeScreen {
    padding: 40px 20px 40px 20px;
    border-radius: 25px;
    width: 25rem;
    min-height: 16rem;
}