.column {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 60px;
}

.game {
    position: relative;
}

.board {
    margin: auto;
    display: grid;
    height: 400px;
    width: 400px;
    grid-gap: 10px;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    margin-top: 40px;
    color: black;
}

.userMove {
    composes: column;
}

.opponentMove {
    composes: column;
}

.empty {
    composes: column;
}

.gameover {
    position: absolute;
    bottom: -20%;
    display: block;
    width: 100%;
    text-align: center;
    font-size: xx-large;
    color: #222831;
}

.wait {
    position: absolute;
    bottom: -30%;
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: large;
}
