.userList {
    border-radius: 5px;
    min-width: 250px;
    min-height: 15rem;
    max-height: 35rem;
    font-size: large;
    overflow-y: auto;
    margin: 15px;
}

.online {
    margin-left: 10px;
    text-align: left;
}

.users {
    min-height: 12rem;
    overflow-y: auto;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 10px;
}

.invite {
    width: 100%;
    margin-left: 5%;
    font-size: x-large;
    right: 10px;
    top: 0;
}

.userButton {
    flex-grow: 1;
}

.buttonOuterStyle {
    margin: 5px;
}